body {
    padding: 0;
    margin: 20px auto;
    max-width: 90%;
    line-height: 0.6;
    font-size: 15px;
    color: #444;
    font-family: booter;
    background-color: lightblue;
}

p{
    line-height: 0.6;
}

p1{
    line-height: 0.6;
    font-size: 30px;
}

h1, h2 {
    line-height: 0;
    text-align: center;
    font-family: booter;
    font-variant: small-caps;
    font-size: 100px;
}

h3 {
    line-height: .7;
}

.colcontainer {
    margin: 0px auto;
    width: 100%;
    text-align: center;

}

.colcontainer .col{
    float: left;
    margin: 0;
    width: 12%;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.colcontainer .twocol {
    float: left;
    margin: 0;
    width: 40%;
    font-size: 40px;
    
}

@font-face {
    font-family: 'booter';
    src: url(fonts/BOOTERZZ.ttf);
    font-style: normal;
    font-weight: 100;
}

/* Navigation bar css taken from W3Schools */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
    .nomobile {
        display:none;
    }
    
    .colcontainer .col{
    float: left;
    margin: 0;
    width: 25%;
    }
    
}

@media screen and (min-width: 480px) {
    .onlymobile {
        display:none;
    }
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    position: absolute;
    z-index: 1;
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
